.features {
  background-color: var(--color-quaternary-m);
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  place-items: center center;

  &__content {
    display: grid;
    grid-gap: 2vw;
    height: 40rem;
    align-items: center;
    padding: 2rem 4rem;

    &--title {
      @extend %section-heading;
      font-weight: font-weight(font-weight-bold) !important;
      text-align: center;
      z-index: 1;
      position: relative;
      align-self: end;
    }
    &--title::before {
      position: absolute;
      content: "";
      background-color: var(--color-tertiary);
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      transform: scaleX(0);
      transition: transform 1s ease-in-out;
      transform-origin: right;
    }
    &:hover &--title::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &--para {
      @extend %section-para;
      padding: 1rem;
      text-align: center;
      font-weight: font-weight(font-weight-medium);
      background-color: rgba(255, 180, 162, 0.6);
    }
    &--link {
      overflow: hidden;
      padding: 0.7rem 1.5rem;
      align-self: start;
      position: relative;
      justify-self: start;
      transition: 0.5s;
      font-size: 1.2rem;
      font-weight: bold;
      color: #000;
      span {
        display: block;
        position: absolute;
      }

      span:nth-child(1) {
        background-image: linear-gradient(
          90deg,
          transparent,
          var(--color-tertiary)
        );
        width: 100%;
        height: 0.5rem;
        top: 0;
        left: 0;
        animation: border1 1s linear infinite;
        transition-delay: 0s;
      }

      span:nth-child(2) {
        background-image: linear-gradient(
          180deg,
          transparent,
          var(--color-tertiary)
        );
        width: 0.5rem;
        height: 100%;
        top: 0;
        right: 0;
        transition-delay: 0.5s;
        animation: border2 1s infinite;
      }

      span:nth-child(3) {
        background-image: linear-gradient(
          270deg,
          transparent,
          var(--color-tertiary)
        );
        width: 100%;
        height: 0.5rem;
        left: 0;
        bottom: 0;
        animation: border3 1s linear infinite;
        transition-delay: 0s;
      }

      span:nth-child(4) {
        background-image: linear-gradient(
          360deg,
          transparent,
          var(--color-tertiary)
        );
        width: 0.5rem;
        height: 100%;
        bottom: 0;
        left: 0;
        animation: border4 1s linear infinite;
        transition-delay: 0.5s;
      }
    }
    &--link:hover,
    &--link:active {
      background-color: var(--color-tertiary);
    }
  }

  @include media-small {
    grid-template-columns: repeat(1, 1fr);
  }
}

//  for loop for background image of sections
@for $img from 1 through 9 {
  .features__content:nth-child(#{$img}) {
    background-image: url("../img/features/features-#{$img}.jpg");
    @extend %bg;
  }
}
@keyframes border1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes border2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes border3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes border4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}
