.motto {
  // background-color: var(--color-quaternary);
  grid-column: container-start / container-end;
  // height: 100vh;
  background-image: url("../img/motto/motto-bg.jpg");
  @extend %bg;
  @extend %section-padding;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  place-items: center;

  &__content {
    display: grid;
    grid-row-gap: 4vh;
    background-color: var(--color-tertiary-m);
    padding: 0.7rem;

    i {
      font-size: font-size(font-size-medium);
      color: var(--color-primary);
    }

    &--title {
      @extend %section-heading;
    }

    &--para {
      @extend %section-para;
    }

    &--link {
      background: none;
      place-self: start;
      padding: 0.7rem 1.5rem;
      transition: all 0.5s ease-in-out;
      overflow: hidden;
      position: relative;
      font-size: font-size(font-size-regular);
      span {
        display: block;
        position: absolute;
      }

      span:first-child {
        top: 0;
        left: -100%;
        background-image: linear-gradient(
          90deg,
          transparent,
          var(--color-primary)
        );
        width: 100%;
        height: 0.3rem;
        transition: 0.5s;
        transition-delay: 1s;
      }
      span:nth-child(2) {
        top: -100%;
        right: 0;
        background-image: linear-gradient(
          180deg,
          transparent,
          var(--color-primary)
        );
        width: 0.3rem;
        height: 100%;
        transition: 0.5s;
        transition-delay: 0.75s;
      }
      span:nth-child(3) {
        right: -100%;
        bottom: 0;
        background-image: linear-gradient(
          270deg,
          transparent,
          var(--color-primary)
        );
        width: 100%;
        height: 0.3rem;
        transition: 0.7s;
        transition-delay: 0.25s;
      }

      span:nth-child(4) {
        bottom: -100%;
        left: 0;
        background-image: linear-gradient(
          360deg,
          transparent,
          var(--color-primary)
        );
        width: 0.3rem;
        height: 100%;
        transition: 0.5s;
        transition-delay: 0.75s;
      }
    }

    &--link:hover {
      background: var(--color-primary);
      transition-delay: 1s;
    }

    &--link:hover span:first-child {
      transition-duration: 1s;
      transition-delay: 0s;
      left: 100%;
    }
    &--link:hover span:nth-child(2) {
      transition-duration: 1s;
      transition-delay: 0.25s;
      top: 100%;
    }
    &--link:hover span:nth-child(3) {
      transition-duration: 1s;
      transition-delay: 0.5s;
      right: 100%;
    }
    &--link:hover span:nth-child(4) {
      transition-duration: 1s;
      transition-delay: 1s;
      bottom: 100%;
    }
  }
}
