.showcase {
  grid-column: container-start / container-end;
  background-image: linear-gradient(
      var(--color-tertiary-m),
      var(--color-tertiary-m)
    ),
    url("../img/showcase/showcase-bg.jpg");

  @extend %bg;
  @extend %section-padding;
  @extend %centering;

  &__content {
    display: flex;
    flex-direction: column;

    &--title {
      text-align: center;
      font-size: font-size(font-size-large);
      font-weight: font-weight(font-weight-light);
      background-image: linear-gradient(
        135deg,
        var(--color-secondary),
        var(--color-quinary)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &--para {
      font-size: font-size(font-size-regular);
      font-weight: font-weight(font-weight-light);
      color: var(--color-quinary);
      margin-bottom: calc(1rem + 2vw);
    }
    &--links {
      display: flex;
      justify-content: center;

      a {
        font-size: font-size(font-size-small);
        padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        border-radius: 0.5rem;
        transition: all 0.5s ease-in-out;
      }

      a:first-child {
        background-color: var(--color-tertiary);
        border: 0.2rem solid var(--color-tertiary);
        color: var(--color-quinary);
        margin-right: calc(1rem + 2vw);
      }
      a:last-child {
        background-color: var(--color-secondary);
        border: 0.2rem solid var(--color-secondary);
        color: var(--color-quinary);
      }

      a:first-child:before,
      a:last-child:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--color-quinary);
        border-radius: inherit;
        z-index: -1;
        transform: scale(0);
        transition: all 0.5s ease-in-out;
      }
      a:hover:first-child::before,
      a:hover:last-child::before {
        transform: scale(1);
      }

      a:hover:first-child {
        color: var(--color-secondary);
        font-weight: font-weight(font-weight-regular);
      }
      a:hover:last-child {
        color: var(--color-tertiary);
        font-weight: font-weight(font-weight-regular);
      }
    }
  }

  // media query 800
  @include media-tablet {
    justify-content: flex-start !important;
    align-items: flex-end !important;
    &__content {
      &--title {
        text-align: left;
      }
      &--links {
        justify-content: flex-start;
      }
    }
  }

  @include media-medium {
    padding: 4rem !important;
    &__content {
      &--title {
        font-size: font-size(font-size-xlarge);
        font-weight: font-weight(font-weight-regular);
      }
      &--para {
        font-size: 2rem;
      }
      &--links {
        a {
          font-size: font-size(font-size-small);
          flex-shrink: 0;
        }
      }
    }
  }

  @include media-small {
    &__content {
      &--links {
        flex-direction: column;
        align-items: flex-start;
        a {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
