@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
::selection {
  background-color: var(--color-primary);
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --color-primary: #83c5be;
  --color-primary-m: #3c096c;
  --color-secondary: #a2d2ff;
  --color-secondary-m: #4cc9f0;
  --color-tertiary: #ffb4a2;
  --color-tertiary-m: rgb(38, 52, 65, 0.65);
  --color-quaternary: #f19c79;
  --color-quaternary-m: #e5989b;
  --color-quinary: white;
  --color-quinary-m: rgb(255, 255, 255, 0.5);
}

html[data-theme="dark"] {
  --color-primary: rgb(36, 38, 43);
  --color-primary-m: rgba(36, 38, 43, 0.65);
  --color-secondary: #6c757d;
  --color-secondary-m: #495057;
  --color-tertiary: rgb(38, 52, 65);
  --color-tertiary-m: hsl(183, 34%, 38%, 0.65);
  --color-quaternary: hsl(220, 10%, 28%);
  --color-quaternary-m: hsl(220, 10%, 28%, 0.65);
  --color-quinary: white;
  --color-quinary-m: rgb(255, 255, 255, 0.5);
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.9;
  background-color: var(--color-primary);
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, 16.66667rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: min-content 90vh repeat(9, min-content);
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-rows: min-content 100vh repeat(9, min-content);
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-quinary);
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.header {
  grid-column: container-start / container-end;
}

.header.open .header__menu--line {
  background-color: transparent;
}

.header.open .header__menu--line::before {
  transform: rotate(45deg);
}

.header.open .header__menu--line::after {
  transform: rotate(-45deg);
}

.header.open .header__menu--line::after,
.header.open .header__menu--line::before {
  top: 0;
}

.header__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-tertiary);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}

.header__nav {
  width: 100%;
  height: 7rem;
  line-height: 7rem;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-primary);
  text-transform: uppercase;
  overflow: hidden;
}

.header__nav--logo {
  padding: 1rem;
}

.header__nav--logo img {
  height: 5rem;
  width: 5rem;
}

.header__nav--links {
  display: flex;
}

.header__nav--links__items a:link,
.header__nav--links__items a:active {
  margin-right: 2vw;
  padding: 0 1.5rem;
  position: relative;
  display: block;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header__nav--links__items a:hover,
.header__nav--links__items a:active {
  transform: rotateX(90deg);
}

.header__nav--links__items a:link::after,
.header__nav--links__items a:visited::after {
  background-color: var(--color-tertiary);
  content: attr(data-text);
  position: absolute;
  top: 100%;
  transform: rotateX(-90deg);
  transform-origin: top;
  padding: 0 1.5rem;
  left: 0;
}

.header__nav--links__items:nth-child(odd) {
  animation: downwards 1s forwards;
}

.header__nav--links__items:nth-child(even) {
  animation: upwards 1s forwards;
}

.header__nav--links__toggle-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__nav--links__toggle-container input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  width: 6rem;
  height: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--color-quinary);
  border-radius: 2.5rem;
  box-shadow: inset 0 0 0.6rem #9e9d9d;
  transition: all 0.5s ease-in-out;
}

.header__nav--links__toggle-container input:checked[type="checkbox"] {
  background-color: #bde0fe;
}

.header__nav--links__toggle-container input:not(:checked)[type="checkbox"] {
  background-color: var(--color-tertiary);
}

.header__nav--links__toggle-container input[type="checkbox"]::after,
.header__nav--links__toggle-container input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  top: 0.8rem;
  background-color: var(--color-quinary);
  box-shadow: 0 0.1rem 0.3rem 0.1rem rgba(128, 128, 128, 0.35);
  transition: 0.5s ease-in-out;
}

.header__nav--links__toggle-container input[type="checkbox"]::after {
  right: 0.5rem;
}

.header__nav--links__toggle-container input[type="checkbox"]::before {
  left: 0.5rem;
}

.header__nav--links__toggle-container input:checked[type="checkbox"]::before {
  left: 37%;
  box-shadow: none;
}

.header__nav--links__toggle-container input:checked[type="checkbox"]::after {
  right: 37%;
  box-shadow: none;
}

@media screen and (min-width: 1300px) {
  .header__nav--links__items a:link,
  .header__nav--links__items a:visited {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 800px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25rem;
    line-height: initial;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    z-index: 20;
    transform: perspective(70rem) rotateY(0.5turn);
    transform-origin: top left;
    transition: transform 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .header__nav--links {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
  }
  .header__nav--links__items {
    animation: initial;
  }
  .header__nav--links__items a:link,
  .header__nav--links__items a:active {
    margin-right: initial;
    padding: 2rem;
    font-size: 1.2rem;
    position: relative;
    transform-origin: left;
    margin: 0;
  }
  .header__nav--links__items a:hover,
  .header__nav--links__items a:active {
    transform: rotateY(90deg);
  }
  .header__nav--links__items a:link::after,
  .header__nav--links__items a:visited::after {
    top: 0;
    bottom: 100%;
    left: 100%;
    width: 100%;
    transform-origin: left;
    height: 100%;
    transform: rotateY(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__nav--links__toggle-container {
    display: flex;
    justify-content: center;
  }
  .header.open nav {
    transform: translateY(0);
  }
  .header__menu {
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 2.5rem;
    z-index: 21;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__menu--line, .header__menu--line::before, .header__menu--line::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 2px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    z-index: 20;
  }
  .header__menu--line::before {
    top: -1rem;
  }
  .header__menu--line::after {
    top: 1rem;
  }
  .header.open .header__overlay {
    display: block;
    opacity: 0.8;
  }
}

@keyframes upwards {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes downwards {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.showcase {
  grid-column: container-start / container-end;
  background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)), url("../img/showcase/showcase-bg.jpg");
}

.showcase__content {
  display: flex;
  flex-direction: column;
}

.showcase__content--title {
  text-align: center;
  font-size: calc(1.5rem + 5vw);
  font-weight: 300;
  background-image: linear-gradient(135deg, var(--color-secondary), var(--color-quinary));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.showcase__content--para {
  font-size: calc(1.2rem + 1vw);
  font-weight: 300;
  color: var(--color-quinary);
  margin-bottom: calc(1rem + 2vw);
}

.showcase__content--links {
  display: flex;
  justify-content: center;
}

.showcase__content--links a {
  font-size: calc(1.2rem + 0.5vw);
  padding: calc(0.5rem + 1vh) calc(1rem + 1vw);
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.showcase__content--links a:first-child {
  background-color: var(--color-tertiary);
  border: 0.2rem solid var(--color-tertiary);
  color: var(--color-quinary);
  margin-right: calc(1rem + 2vw);
}

.showcase__content--links a:last-child {
  background-color: var(--color-secondary);
  border: 0.2rem solid var(--color-secondary);
  color: var(--color-quinary);
}

.showcase__content--links a:first-child:before,
.showcase__content--links a:last-child:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-quinary);
  border-radius: inherit;
  z-index: -1;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.showcase__content--links a:hover:first-child::before,
.showcase__content--links a:hover:last-child::before {
  transform: scale(1);
}

.showcase__content--links a:hover:first-child {
  color: var(--color-secondary);
  font-weight: 400;
}

.showcase__content--links a:hover:last-child {
  color: var(--color-tertiary);
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .showcase {
    justify-content: flex-start !important;
    align-items: flex-end !important;
  }
  .showcase__content--title {
    text-align: left;
  }
  .showcase__content--links {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .showcase {
    padding: 4rem !important;
  }
  .showcase__content--title {
    font-size: calc(2.5rem + 5vw);
    font-weight: 400;
  }
  .showcase__content--para {
    font-size: 2rem;
  }
  .showcase__content--links a {
    font-size: calc(1.2rem + 0.5vw);
    flex-shrink: 0;
  }
}

@media screen and (max-width: 400px) {
  .showcase__content--links {
    flex-direction: column;
    align-items: flex-start;
  }
  .showcase__content--links a {
    margin-bottom: 1rem;
  }
}

.motto {
  grid-column: container-start / container-end;
  background-image: url("../img/motto/motto-bg.jpg");
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
  place-items: center;
}

.motto__content {
  display: grid;
  grid-row-gap: 4vh;
  background-color: var(--color-tertiary-m);
  padding: 0.7rem;
}

.motto__content i {
  font-size: calc(1.5rem + 2vw);
  color: var(--color-primary);
}

.motto__content--link {
  background: none;
  place-self: start;
  padding: 0.7rem 1.5rem;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  font-size: calc(1.2rem + 1vw);
}

.motto__content--link span {
  display: block;
  position: absolute;
}

.motto__content--link span:first-child {
  top: 0;
  left: -100%;
  background-image: linear-gradient(90deg, transparent, var(--color-primary));
  width: 100%;
  height: 0.3rem;
  transition: 0.5s;
  transition-delay: 1s;
}

.motto__content--link span:nth-child(2) {
  top: -100%;
  right: 0;
  background-image: linear-gradient(180deg, transparent, var(--color-primary));
  width: 0.3rem;
  height: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}

.motto__content--link span:nth-child(3) {
  right: -100%;
  bottom: 0;
  background-image: linear-gradient(270deg, transparent, var(--color-primary));
  width: 100%;
  height: 0.3rem;
  transition: 0.7s;
  transition-delay: 0.25s;
}

.motto__content--link span:nth-child(4) {
  bottom: -100%;
  left: 0;
  background-image: linear-gradient(360deg, transparent, var(--color-primary));
  width: 0.3rem;
  height: 100%;
  transition: 0.5s;
  transition-delay: 0.75s;
}

.motto__content--link:hover {
  background: var(--color-primary);
  transition-delay: 1s;
}

.motto__content--link:hover span:first-child {
  transition-duration: 1s;
  transition-delay: 0s;
  left: 100%;
}

.motto__content--link:hover span:nth-child(2) {
  transition-duration: 1s;
  transition-delay: 0.25s;
  top: 100%;
}

.motto__content--link:hover span:nth-child(3) {
  transition-duration: 1s;
  transition-delay: 0.5s;
  right: 100%;
}

.motto__content--link:hover span:nth-child(4) {
  transition-duration: 1s;
  transition-delay: 1s;
  bottom: 100%;
}

.features {
  background-color: var(--color-quaternary-m);
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  place-items: center center;
}

.features__content {
  display: grid;
  grid-gap: 2vw;
  height: 40rem;
  align-items: center;
  padding: 2rem 4rem;
}

.features__content--title {
  font-weight: 700 !important;
  text-align: center;
  z-index: 1;
  position: relative;
  align-self: end;
}

.features__content--title::before {
  position: absolute;
  content: "";
  background-color: var(--color-tertiary);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
  transform-origin: right;
}

.features__content:hover .features__content--title::before {
  transform-origin: left;
  transform: scaleX(1);
}

.features__content--para {
  padding: 1rem;
  text-align: center;
  font-weight: 500;
  background-color: rgba(255, 180, 162, 0.6);
}

.features__content--link {
  overflow: hidden;
  padding: 0.7rem 1.5rem;
  align-self: start;
  position: relative;
  justify-self: start;
  transition: 0.5s;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.features__content--link span {
  display: block;
  position: absolute;
}

.features__content--link span:nth-child(1) {
  background-image: linear-gradient(90deg, transparent, var(--color-tertiary));
  width: 100%;
  height: 0.5rem;
  top: 0;
  left: 0;
  animation: border1 1s linear infinite;
  transition-delay: 0s;
}

.features__content--link span:nth-child(2) {
  background-image: linear-gradient(180deg, transparent, var(--color-tertiary));
  width: 0.5rem;
  height: 100%;
  top: 0;
  right: 0;
  transition-delay: 0.5s;
  animation: border2 1s infinite;
}

.features__content--link span:nth-child(3) {
  background-image: linear-gradient(270deg, transparent, var(--color-tertiary));
  width: 100%;
  height: 0.5rem;
  left: 0;
  bottom: 0;
  animation: border3 1s linear infinite;
  transition-delay: 0s;
}

.features__content--link span:nth-child(4) {
  background-image: linear-gradient(360deg, transparent, var(--color-tertiary));
  width: 0.5rem;
  height: 100%;
  bottom: 0;
  left: 0;
  animation: border4 1s linear infinite;
  transition-delay: 0.5s;
}

.features__content--link:hover, .features__content--link:active {
  background-color: var(--color-tertiary);
}

@media screen and (max-width: 400px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
  }
}

.features__content:nth-child(1) {
  background-image: url("../img/features/features-1.jpg");
}

.features__content:nth-child(2) {
  background-image: url("../img/features/features-2.jpg");
}

.features__content:nth-child(3) {
  background-image: url("../img/features/features-3.jpg");
}

.features__content:nth-child(4) {
  background-image: url("../img/features/features-4.jpg");
}

.features__content:nth-child(5) {
  background-image: url("../img/features/features-5.jpg");
}

.features__content:nth-child(6) {
  background-image: url("../img/features/features-6.jpg");
}

.features__content:nth-child(7) {
  background-image: url("../img/features/features-7.jpg");
}

.features__content:nth-child(8) {
  background-image: url("../img/features/features-8.jpg");
}

.features__content:nth-child(9) {
  background-image: url("../img/features/features-9.jpg");
}

@keyframes border1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes border2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes border3 {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes border4 {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

.trainers {
  grid-column: center-start / center-end;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.trainers__title {
  text-align: center;
  margin-bottom: 2rem;
  background-color: var(--color-tertiary-m);
  border-bottom-left-radius: 8rem;
  border-bottom-right-radius: 8rem;
}

.trainers__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6vh calc(1rem + 1vw);
  place-items: center;
  padding: 0 2rem;
}

.trainers__content--card {
  display: grid;
  height: 30rem;
  background-color: red;
  position: relative;
  overflow: hidden;
}

.trainers__content--card__specialty, .trainers__content--card__name {
  position: absolute;
  bottom: 20%;
  left: 5%;
  transform: translate(-25rem, -15rem);
}

.trainers__content--card__specialty {
  margin-bottom: 3rem;
}

.trainers__content--card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.trainers__content--card:hover .trainers__content--card__img {
  filter: contrast(30%);
}

.trainers__content--card:hover .trainers__content--card__specialty,
.trainers__content--card:hover .trainers__content--card__name {
  animation: name 1.5s linear forwards;
  z-index: 1;
}

@keyframes name {
  0% {
    transform: translate(-25rem, -15rem);
    opacity: 0;
  }
  30% {
    transform: translate(8rem, -15rem);
    opacity: 0.3;
  }
  60% {
    transform: translate(8rem, 0);
    opacity: 0.6;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.testimonials {
  grid-column: container-start / container-end;
  background-image: linear-gradient(var(--color-tertiary-m), var(--color-tertiary-m)), url("../img/testimonials/testimonials-bg.jpg");
}

.testimonials__title {
  text-align: center;
  margin-bottom: 4vh;
}

.testimonials__content {
  max-width: 100rem;
  margin: 0 auto;
}

.testimonials__content--slider {
  border: 0.1rem solid var(--color-quinary);
  max-width: 60rem;
  margin: auto;
  text-align: center;
  padding: 1vh 2vw;
}

.testimonials__content--slider__slide {
  display: none;
}

.testimonials__content--slider__slide--para {
  margin-bottom: 3rem;
}

.testimonials__content--slider__slide.active {
  display: block !important;
  animation: slide 1s linear;
}

.testimonials__content--indicator {
  padding: 4vh 0;
  display: flex;
  justify-content: center;
}

.testimonials__content--indicator__img {
  width: calc(7rem + 6vw);
  height: calc(7rem + 6vw);
  object-fit: cover;
  border-radius: 50%;
  margin: 2vh 2vw;
  opacity: 0.3;
  border: 0.2rem solid var(--color-quinary);
  cursor: pointer;
  transition: opacity 1s ease;
}

.testimonials__content--indicator__img.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .testimonials__content--indicator__img {
    width: calc(7rem + 5vw);
    height: calc(7rem + 5vw);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.clients {
  background-color: var(--color-secondary);
  grid-column: container-start / container-end;
  background-image: linear-gradient(var(--color-quinary-m), var(--color-quinary-m)), url(../img/clients/clients-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clients__title {
  text-align: center;
  margin: 2rem 0;
  font-weight: 500 !important;
  position: relative;
  align-self: center;
  padding: 1rem;
}

.clients__title::before, .clients__title::after {
  position: absolute;
  content: "";
  top: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--color-quinary);
  transition: all 0.5s ease-in-out;
}

.clients__title::before {
  left: 0;
}

.clients__title::after {
  right: 0;
}

.clients__title:hover::after, .clients__title:hover::before {
  width: 100%;
  height: 0.3rem;
}

.clients__title:hover::before {
  top: 100% !important;
}

.clients__title:hover::after {
  bottom: 0;
}

.clients__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.clients__content--img {
  width: 20rem;
  height: 15rem;
  margin: 2rem;
  padding: 2rem;
  background-color: var(--color-quinary-m);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.clients__content--img:hover {
  background-color: rgba(240, 240, 124, 0.856);
  transform: scale(1.2);
}

.register {
  grid-column: container-start / container-end;
  background-image: url(../img/register/register-bg.jpg);
  color: var(--color-quinary);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register__progress {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-gap: 2rem;
}

.register__progress--step {
  font-size: 2rem;
  background-color: var(--color-tertiary-m);
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  transition: 0.5s ease-in;
}

.register__progress--step i {
  font-size: calc(1.2rem + 0.5vw);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: orangered;
}

.register__progress--step i.active {
  display: block;
}

.register__progress--step span.active {
  display: none;
}

.register__progress--step.active {
  background-color: var(--color-quinary);
}

.register__content {
  width: 28rem;
  overflow: hidden;
  margin-top: 2rem;
}

.register__content--form {
  display: flex;
  justify-content: center;
  width: 400%;
}

.register__content--form__page {
  width: 50%;
  display: grid;
  grid-template-rows: repeat(3, 7rem);
  grid-row-gap: 4rem;
  align-items: start;
  transition: margin 0.5s ease-in-out;
}

.register__content--form__page--field {
  height: 4rem;
  width: 28rem;
}

.register__content--form__page--field label {
  font-size: 2rem;
}

.register__content--form__page--field input,
.register__content--form__page--field select {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1rem;
  letter-spacing: 0.2rem;
  border: none;
  outline: none;
  background-color: var(--color-tertiary-m);
  color: var(--color-quinary);
  font-family: "Balsamiq Sans", cursive;
}

.register__content--form__page--field select {
  color: #000;
}

.register__content--form__page--field input:focus {
  background-color: var(--color-secondary-m);
  color: #000;
}

.register__content--form__page--field button {
  width: 100%;
  height: 100%;
  padding: 0.8rem 1.2rem;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background-color: var(--color-tertiary-m);
  color: var(--color-quinary);
  font-family: "Balsamiq Sans", cursive;
  font-size: 1.8rem;
  transition: 0.5s ease-in-out;
}

.register__content--form__page--field button:hover {
  background-color: green;
}

.register__content--form__page .btns {
  display: flex;
}

.register__content--form__page .btns button:first-child {
  margin-right: 0.5rem;
}

.register__content--form__page .btns button:last-child {
  margin-left: 0.5rem;
}

.footer {
  background-color: var(--color-secondary-m);
  grid-column: container-start / container-end;
  height: 200px;
}

.showcase, .motto, .features__content:nth-child(1), .features__content:nth-child(2), .features__content:nth-child(3), .features__content:nth-child(4), .features__content:nth-child(5), .features__content:nth-child(6), .features__content:nth-child(7), .features__content:nth-child(8), .features__content:nth-child(9), .testimonials, .clients, .register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.showcase, .motto, .trainers, .testimonials, .clients, .register {
  padding: 6vh 4vw;
}

.motto__content--title, .features__content--title, .trainers__title, .testimonials__title, .clients__title {
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
}

.motto__content--para, .features__content--para, .testimonials__content--slider__slide--para {
  font-size: calc(1.2rem + 0.5vw);
  letter-spacing: 0.2rem;
  color: var(--color-quinary);
  font-family: "Balsamiq Sans", cursive;
}

.trainers__content--card__specialty, .trainers__content--card__name, .testimonials__content--slider__slide--title {
  font-size: calc(1.2rem + 0.5vw);
  color: var(--color-quinary);
}

.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll {
  position: fixed;
  bottom: 4rem;
  width: 5rem;
  height: 5rem;
  right: 4rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: purple;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  z-index: 30;
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(-50rem);
}

.scroll i {
  color: var(--color-quinary);
  font-size: calc(1.2rem + 1vw);
}

.scroll.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  transition: all 0.8s !important;
  transition-delay: 0 !important;
}
/*# sourceMappingURL=style.css.map */